src/main/mule/database-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac430dbc-8b1c-42bb-a5d0-5918d366d02c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config_Local_Postgresql" doc:name="Database Config" doc:id="4f9b29ab-1b72-4519-b2c4-8e5dc93f299b" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/postgres" driverClassName="org.postgresql.Driver" user="postgres" password="password" />
	</db:config>
	<flow name="database-connectorFlow" doc:id="42d52141-4aa3-4bbf-970b-e82f7e243594" >
		<http:listener doc:name="Listener" doc:id="4d05a0c5-2128-468d-bd5e-0004c3e5e3b0" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="5d84e20a-3932-4251-9a41-af7c0d66a034" />
		<db:select doc:name="Select" doc:id="9014880a-c01e-4e48-992a-ea99a554f41a" config-ref="Database_Config_Local_Postgresql">
			<db:sql ><![CDATA[SELECT * from STUDENTS]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5c4f5a96-0499-48f7-a682-1e04b57c8e8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88aa5b0d-6744-4802-93bf-45d66efbd0de" />
		<db:bulk-insert doc:name="Bulk insert" doc:id="c802f05b-1a75-4fc5-8dc1-db0569a3e297" config-ref="Database_Config_Local_Postgresql">
			<db:bulk-input-parameters><![CDATA[#[[{ 'ID': '2', 'NAME': 'ALKA','AGE': '20', 'ADDRESS': 'GHAZIABAD'},{ 'ID': '2', 'NAME': 'ALKA','AGE': '20', 'ADDRESS': 'GHAZIABAD'},{ 'ID': '3', 'NAME': 'DISHA','AGE': '21', 'ADDRESS': 'VARANASI'},{ 'ID': '4', 'NAME': 'ESHA','AGE': '21', 'ADDRESS': 'DELHI'},{ 'ID': '5', 'NAME': 'MANMEET','AGE': '23', 'ADDRESS': 'JALANDHAR'},{ 'ID': '6', 'NAME': 'ANMOOL','AGE': '25', 'ADDRESS': 'PHAGWARA'}]]]]></db:bulk-input-parameters>
			<db:sql><![CDATA[INSERT INTO STUDENTS (ID, NAME, AGE, ADDRESS) values (:ID, :NAME, :AGE, :ADDRESS)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="4b5d8b1a-a86f-4d89-968c-f536c2a8d33e" />
		<ee:transform doc:name="Transform Message" doc:id="92885450-b08b-4e14-9ee8-a6642c49263c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1546b490-ede7-4052-8c01-bfaa91820790" />
	</flow>
	<flow name="database-connectorFlow1" doc:id="cc6287fa-d64a-4946-a1ca-9065607c1ebb" >
		<http:listener doc:name="Listener" doc:id="4a9dfc9f-0b6c-42fd-ae1a-29b07bd60818" config-ref="HTTP_Listener_config" path="/storeproc" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="e4654816-0855-43a7-983f-3ea8bc85fd26" />
		<db:stored-procedure doc:name="Stored procedure" doc:id="9e06459a-08f1-4305-bf60-61c3c7702bee" config-ref="Database_Config_Local_Postgresql">
			<db:sql ><![CDATA[call transfer(:sender, :receiver, :amount)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:stored-procedure>
		<logger level="INFO" doc:name="Logger" doc:id="6d10d8c2-0314-4eeb-94bc-5dfbefe13935" />
		<ee:transform doc:name="Transform Message" doc:id="15bb5226-5d36-4576-bfbd-94978c64dac9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': 'successfully created'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
